@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lato&family=Limelight&family=Roboto&family=Stalinist+One&family=Volkhov:ital@1&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Nav bar CSS */
#logo {
  height: 50px;
  width: auto;
  padding-left: 2%;
}
#logo-img {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#nav-heading {
  font-size: 47px;
  color: #23201f;
  margin: 0px;
  /* text-shadow: 2px 2px #158001; */
  /* font-family: "Black Ops One", cursive; */
  font-family: "Limelight", cursive;
  /* font-family: "Stalinist One", cursive; */
}
#heading-div {
  margin-top: 5px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 2px;
  margin-right: 65%;
}
nav {
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
nav a {
  font-size: 20px;
  margin: 0px;
  color: black;
  padding: 8px;
  background-color: #dddddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  vertical-align: center;
  /* font-family: "Roboto", sans-serif; */
}
nav a:hover {
  background-color: #158001;
  color: white;
}
