.div3 {
  height: 100px;
  width: 100px;
  background-image: url("https://images.vectorhq.com/images/previews/4ea/black-cat-psd-436817.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
