#app {
  text-align: center;
  justify-content: center;
  color: aliceblue;
  background-color: black;
}

/* Main {
  background-image: "https://library.kissclipart.com/20190220/xgq/kissclipart-book-clipart-book-scroll-text-f3753e000e052c3d.png";
} */
