/* Container */
article {
  /* display: flex; */
  max-width: 700px;
  margin: auto 0px;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.content {
  width: 700px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  vertical-align: top;
}

.content.button {
  background-color: rgb(8, 0, 0);
  color: white;
  border-radius: 1px;
  margin-left: 2px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  box-shadow: 0 0 5px black;
  margin: 2px;
  width: 70px;
  text-align: center;
}
